//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.01 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Thu 07 02 15:00:12 2026

IO_LOC "test_out" 85;
IO_PORT "test_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_miso" 53;
IO_PORT "spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "enc_led[7]" 77;
IO_PORT "enc_led[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "enc_led[6]" 15;
IO_PORT "enc_led[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "enc_led[5]" 16;
IO_PORT "enc_led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "enc_led[4]" 27;
IO_PORT "enc_led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "enc_led[3]" 28;
IO_PORT "enc_led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "enc_led[2]" 25;
IO_PORT "enc_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "enc_led[1]" 29;
IO_PORT "enc_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "enc_led[0]" 26;
IO_PORT "enc_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "ssi_clk[7]" 48;
IO_PORT "ssi_clk[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "ssi_clk[6]" 73;
IO_PORT "ssi_clk[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "ssi_clk[5]" 30;
IO_PORT "ssi_clk[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "ssi_clk[4]" 20;
IO_PORT "ssi_clk[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "ssi_clk[3]" 18;
IO_PORT "ssi_clk[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "ssi_clk[2]" 42;
IO_PORT "ssi_clk[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "ssi_clk[1]" 55;
IO_PORT "ssi_clk[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "ssi_clk[0]" 49;
IO_PORT "ssi_clk[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "spi_mosi" 52;
IO_PORT "spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_sck" 71;
IO_PORT "spi_sck" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_nss" 72;
IO_PORT "spi_nss" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ssi_data[7]" 51;
IO_PORT "ssi_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ssi_data[6]" 74;
IO_PORT "ssi_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ssi_data[5]" 31;
IO_PORT "ssi_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ssi_data[4]" 17;
IO_PORT "ssi_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ssi_data[3]" 19;
IO_PORT "ssi_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ssi_data[2]" 41;
IO_PORT "ssi_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ssi_data[1]" 56;
IO_PORT "ssi_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "ssi_data[0]" 54;
IO_PORT "ssi_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "rst" 88;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" 4 exclusive;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
CLOCK_LOC "clk_pll" BUFG = CLK;
CLOCK_LOC "clk_d" BUFG[1] = CLK;
