//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.01 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Thu 05 28 15:14:24 2026

IO_LOC "SPI_MISO" 53;
IO_PORT "SPI_MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=16 BANK_VCCIO=3.3;
IO_LOC "EN_STATUS_LED[7]" 77;
IO_PORT "EN_STATUS_LED[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_STATUS_LED[6]" 15;
IO_PORT "EN_STATUS_LED[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_STATUS_LED[5]" 16;
IO_PORT "EN_STATUS_LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_STATUS_LED[4]" 27;
IO_PORT "EN_STATUS_LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_STATUS_LED[3]" 28;
IO_PORT "EN_STATUS_LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_STATUS_LED[2]" 25;
IO_PORT "EN_STATUS_LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_STATUS_LED[1]" 29;
IO_PORT "EN_STATUS_LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_STATUS_LED[0]" 26;
IO_PORT "EN_STATUS_LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_CLK[7]" 48;
IO_PORT "EN_CLK[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_CLK[6]" 73;
IO_PORT "EN_CLK[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_CLK[5]" 30;
IO_PORT "EN_CLK[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_CLK[4]" 20;
IO_PORT "EN_CLK[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_CLK[3]" 18;
IO_PORT "EN_CLK[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_CLK[2]" 42;
IO_PORT "EN_CLK[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_CLK[1]" 55;
IO_PORT "EN_CLK[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EN_CLK[0]" 49;
IO_PORT "EN_CLK[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SPI_NSS" 72;
IO_PORT "SPI_NSS" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=NONE BANK_VCCIO=3.3;
IO_LOC "SPI_MOSI" 52;
IO_PORT "SPI_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=NONE BANK_VCCIO=3.3;
IO_LOC "SPI_SCK" 71;
IO_PORT "SPI_SCK" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=NONE BANK_VCCIO=3.3;
IO_LOC "RST" 88;
IO_PORT "RST" IO_TYPE=LVCMOS33 PULL_MODE=NONE HYSTERESIS=NONE BANK_VCCIO=3.3;
IO_LOC "CLK" 4;
IO_PORT "CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "EN_DATA[7]" 51;
IO_PORT "EN_DATA[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "EN_DATA[4]" 17;
IO_PORT "EN_DATA[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "EN_DATA[6]" 74;
IO_PORT "EN_DATA[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "EN_DATA[5]" 31;
IO_PORT "EN_DATA[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "EN_DATA[1]" 56;
IO_PORT "EN_DATA[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "EN_DATA[2]" 41;
IO_PORT "EN_DATA[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "EN_DATA[0]" 54;
IO_PORT "EN_DATA[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "EN_DATA[3]" 19;
IO_PORT "EN_DATA[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
